h1 {
    background-color: orange;
    color: orangered;
    font-size: 32px;
    padding: 12px;
    border-style: solid; 
}

h2 {
    background-color: rebeccapurple;
    color: white;
    border-style: dotted;
    padding: 20px;
}

h3 {
    background-color: thistle;
    color: rosybrown;
    border-style: dashed;
    padding: 20px;
}

img {
    width: 20%;
}
